*{text-align: right;}

body {
	background-image: url(yourname.png); 
	background-size: cover;
	}

h1 {color: white;
	text-align: center;
	
	display: inline-block;
	padding: 10px;
	justify-content: center;
	font-style: italic;
	font-family: 'Mr Dafoe', cursive;
	font-size: 550%;
	cursor: pointer;
	
	margin-top: 10px;
	animation: text 3s 1}

	.container2 {text-align: center;}

	a {color: white;
		font-size: 140%;
		text-decoration: none;
		transition:all 1s;
		font-family: 'Archivo Black', sans-serif;
		}
	li:hover {transform: scale(1.1);}

	@keyframes text {
		0% {
			color: black;
			margin-bottom: -20px;
		}
	}


	li { list-style: none; 
	margin-bottom: 15px;
display: inline-block;
margin-right: 30px;}